/* Стилизация кнопки */

button{
    width: 189px;
    height: 48px;
    border-radius: 8px;
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}


button{
    border: none; 
}

.button_primary,
.button_primary[disabled]:hover{
    background: var(--blue);
}
.button_primary:hover{
    background: var(--blue-hover);
}

.button_secondary,
.button_secondary[disabled]:hover{
    background: var(--purple);
}
.button_secondary:hover{
    background: var(--blue-hover);
}

.button_alternate{
    color: var(--grey-4);
    border: 1px solid var(--grey-3);
}

.button_alternate:hover{
    border: 1px solid var(--black);
}

.button_primary[disabled],
.button_secondary[disabled]{
    opacity: 0.5;
}

.button_alternate:disabled{
    opacity: 0.5;
    border: none;
    color: var(--grey-4);
}