
*{
    margin: 0px;
    padding: 0px;
    color: #FFF;
}
header,footer{
    text-align: center;
}
header{
    background: #FF0000;
}
nav{
    background: #FF9A00;
    height: 60px;
}
nav > ul{
    list-style-type: none;
    position: relative;
    top: 20px;
}
nav li{
    display: inline-block;
    font-size: 20px;
}
body{
    background: #04A242;
}
main{
    margin: 10px;
}
article{
    background: #1319FF;
    margin-top: 5px;
    height: 180px;
}
article ul, ol{
    padding: 30px;
}
article h2{
    padding-top: 20px;
    padding-left: 10px;
}
footer{
    font-size: 40px;
    background: #BD00FF;
    margin-top: 20px;
}
